prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: "prometheus-local-storage"
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 5Gi