apiVersion: apps/v1
kind: Deployment
metadata:
  name: dnsmasq
  namespace: dns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dnsmasq
  template:
    metadata:
      labels:
        app: dnsmasq
    spec:
      containers:
        - name: dnsmasq
          image: jpillora/dnsmasq:latest
          args: ["-k"]  # keep in foreground so Kubernetes can monitor it
          ports:
            - containerPort: 53
              protocol: UDP
            - containerPort: 53
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /etc/dnsmasq.conf
              subPath: dnsmasq.conf
      volumes:
        - name: config
          configMap:
            name: dnsmasq-config