apiVersion: v1
kind: Service
metadata:
  name: dnsmasq
  namespace: dns
spec:
  type: NodePort
  selector:
    app: dnsmasq
  ports:
    - name: dns-udp
      port: 53
      targetPort: 53
      protocol: UDP
      nodePort: 30053
    - name: dns-tcp
      port: 53
      targetPort: 53
      protocol: TCP
      nodePort: 30054