apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s

    scrape_configs:
      - job_name: "prometheus"
        static_configs:
        - targets: ["localhost:9090"]

      - job_name: "node-exporters"
        static_configs:
        - targets:
          - "192.168.0.101:9100"
          - "192.168.0.102:9100"
          - "192.168.0.103:9100"

      - job_name: "kube-state-metrics"
        static_configs:
        - targets: ["kube-state-metrics.monitoring.svc.cluster.local:8080"]