---
- name: Install k3s master (airgap)
  hosts: k3s_master
  become: true

  tasks:
    - name: Ensure k3s images directory exists
      file:
        path: /var/lib/rancher/k3s/agent/images/
        state: directory
        mode: "0755"

    - name: Copy airgap images
      copy:
        src: /home/rocky/k3s-airgap-images-arm64.tar
        dest: /var/lib/rancher/k3s/agent/images/k3s-airgap-images-arm64.tar
        mode: "0644"

    - name: Copy install script
      copy:
        src: install.sh
        dest: /tmp/install.sh
        mode: "0755"

    - name: Install k3s master (offline)
      environment:
        INSTALL_K3S_SKIP_DOWNLOAD: "true"
      command: /tmp/install.sh --disable-network-policy
      args:
        creates: /usr/local/bin/k3s

    - name: Read master token
      slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: master_token

    - name: Save token locally
      local_action:
        module: copy
        content: "{{ master_token.content | b64decode }}"
        dest: ./node-token
