---
- name: Install k3s worker nodes (airgap)
  hosts: k3s_workers
  become: true

  vars:
    master_ip: "192.168.0.101"
    node_token: "{{ lookup('file', 'node-token') }}"

  tasks:
    - name: Ensure k3s images directory exists
      file:
        path: /var/lib/rancher/k3s/agent/images/
        state: directory
        mode: "0755"

    - name: Copy airgap images
      copy:
        src: /home/rocky/k3s-airgap-images-arm64.tar
        dest: /var/lib/rancher/k3s/agent/images/k3s-airgap-images-arm64.tar
        mode: "0644"

    - name: Copy install script
      copy:
        src: install.sh
        dest: /tmp/install.sh
        mode: "0755"

    - name: Install k3s worker (offline)
      environment:
        INSTALL_K3S_SKIP_DOWNLOAD: "true"
        K3S_URL: "https://{{ master_ip }}:6443"
        K3S_TOKEN: "{{ node_token }}"
      command: /tmp/install.sh --disable-network-policy
      args:
        creates: /var/lib/rancher/k3s/agent/node-config.yaml
